.content {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  width: 100%;
  min-height: 250px;
  height: auto;
  text-align: center;
  padding: 100px 50px 100px 50px;
}
